.secondary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 4px;

  font-size: 14px;
  line-height: 24px;
}

.muted {
  color: var(--gray-400);
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 0;
}

.icon {
  color: var(--brand-primary-600);
  line-height: 6px;
}

.companyName {
  color: var(--brand-logo);
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 40px;
  padding: 0;
}

.searchInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 8px 8px 8px 12px;

  background: #fff;
  border: 1px solid #ebebeb;

  &:first-child {
    border-right: 0;
    border-radius: 8px 0 0 8px;
  }

  &:last-child {
    border-left: 0;
    border-radius: 0 8px 8px 0;
  }
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 0;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 0;

  div {
    font-size: 14px;

    span {
      padding-left: 4px;

      color: var(--brand-primary-600);
    }
  }
}

.optionItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;
  padding: 0;
}
