@use 'src/styles/mediaQueries.scss' as *;

.header {
  display: flex;
  flex-direction: column;
}

.secondary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 4px;

  font-size: 14px;
  line-height: 24px;
  @include lt-lg {
    display: none;
  }

  .optionItem {
    color: var(--gray-400);
  }
}

.muted {
  color: var(--gray-400);
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;

  @include lt-lg {
    padding-right: 14px;
    padding-left: 14px;

    background: linear-gradient(268.65deg, #4e46b4 1.44%, #746ce1 89.18%);
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 0;

  svg {
    color: var(--brand-primary-600);
    fill: var(--brand-primary-600);
    stroke: var(--brand-primary-600);
  }

  @include lt-lg {
    svg {
      fill: white;
      stroke: white;

      color: white;
    }
  }
}

.icon {
  color: var(--brand-primary-600);
  line-height: 6px;
  @include lt-lg {
    fill: white;
    stroke: white;
  }
}

.companyName {
  color: var(--brand-logo);
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0;
  @include lt-lg {
    display: none;
  }
}

.search {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 40px;
  padding: 0;
}

.searchInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 8px 8px 8px 12px;

  background: #fff;
  border: 1px solid #ebebeb;

  &:first-child {
    border-right: 0;
    border-radius: 8px 0 0 8px;
  }

  &:last-child {
    border-left: 0;
    border-radius: 0 8px 8px 0;
  }
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;

  .desktop {
    display: flex;
    flex-direction: row;
    gap: 24px;
    @include lt-lg {
      display: none;
    }
  }

  .mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    @include gt-md {
      display: none;
    }
  }
}

.options {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 0;

  div {
    font-size: 14px;

    span {
      color: var(--brand-primary-600);
    }
  }
}

.optionItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0;
  position: relative;

  a {
    gap: 4px;
  }
}
.dropdownMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 148px;
  top: 24px;
  left: 0;
  background: #ffffff;
  box-shadow: 0 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  z-index: 999;

  div {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--gray-900);
    padding: 8px 16px;
    gap: 8px;
    width: 100%;

    &:before {
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
      content: '';
    }

    &:after {
      content: '';
      border: 0.75px solid var(--gray-600);
      border-radius: 75px;
      width: 16px;
      height: 16px;
      display: flex;
    }

    &:first-child {
      border-radius: 12px 12px 0 0;
    }

    &:last-child {
      border-radius: 0 0 12px 12px;
    }

    &:hover {
      background: var(--gray-100);
    }

    &.en {
      &:before {
        background-image: url('us.svg');
      }
    }

    &.tr {
      &:before {
        background-image: url('tr.svg');
      }
    }

    &.ru {
      &:before {
        background-image: url('ru.svg');
      }
    }

    &[aria-selected='true'] {
      &:after {
        content: '';
        border: 0.75px solid var(--brand-primary-600);
        align-items: center;
        justify-content: center;
        background-size: 8px;
        background-image: url('circle.svg');
        background-repeat: no-repeat;
        background-position: 3px 3px;
      }
    }
  }
}

.selected {
  color: var(--brand-primary-600);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  &:after {
    display: flex;
    background-size: 16px 16px;
    content: '';
    height: 16px;
    width: 16px;
  }

  &.en {
    &:after {
      background-image: url('us.svg');
    }
  }

  &.tr {
    &:after {
      background-image: url('tr.svg');
    }
  }

  &.ru {
    &:after {
      background-image: url('ru.svg');
    }
  }
}
