.root {
  display: flex;
  align-items: center;
  gap: 4px;

  &.primary {
    color: var(--brand-primary-600);

    &:hover {
      color: var(--brand-primary-700);
    }
  }

  &.secondary {
    color: var(--brand-primary-50);

    &:hover {
      color: var(--brand-primary-100);
    }
  }

  &.silent {
    color: var(--gray-400);

    &:hover {
      color: var(--gray-500);
    }
  }
}

.withIcon {
  flex-direction: column;
  align-items: center;
}

.withoutIcon {
  flex-direction: row;
}
