@use 'src/styles/mediaQueries.scss' as *;

.root {
  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  height: 80px;
  padding-top: 10px;

  background: white;
  @include gt-md {
    display: none;
  }

  a {
    gap: 4px;
    min-width: calc(100% / 5);

    color: var(--gray-700) !important;
    font-size: 12px;
    flex: 1 1 auto;
  }
}
