.root {
  display: flex;

  &.xs {
    width: 16px;
    height: 14px;
  }

  &.sm {
    width: 20px;
    height: 20px;
  }

  &.md {
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &.lg {
    width: 32px;
    height: 32px;
  }

  &.xl {
    width: 40px;
    height: 40px;
  }

  &.logo {
    width: 158px;
    height: 40px;
  }

  &.primary {
    color: var(--white);
    stroke: var(--white);
  }

  &.secondary {
    color: var(--brand-primary-600);
    stroke: var(--brand-primary-600);
  }

  &.silent {
    color: var(--gray-700);
    stroke: var(--gray-700);
  }

  &.muted {
    color: var(--gray-400);
    stroke: var(--gray-400);
  }

  &.star {
    color: #ffb319;
    stroke: #ffb319;
  }
}
