:root {
  /* COLORS */
  --white: #fff;
  --black: #000;
  --red: #db4e4e;
  --gray-25: #fcfcfd;
  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-200: #eaecf0;
  --gray-300: #d0d5dd;
  --gray-400: #999ca0;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #1d2939;
  --gray-900: #101828;
  --brand-primary-25: #fbfaff;
  --brand-primary-50: #f5f3ff;
  --brand-primary-100: #ece9fe;
  --brand-primary-200: #ddd6fe;
  --brand-primary-300: #c3b5fd;
  --brand-primary-400: #a48afb;
  --brand-primary-500: #875bf7;
  --brand-primary-600: #5a51c2;
  --brand-primary-700: #6927da;
  --brand-primary-800: #5720b7;
  --brand-primary-900: #491c96;
  --brand-logo: #5a51c2;

  /* Sizes */
  --container-xs: 488px;
  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1224px;

  /* Spacings */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --spacing-80: 80px;
}
