.root {
  display: flex;
  align-items: center;

  &.primary {
    color: var(--brand-primary-600);

    &:hover {
      color: var(--brand-primary-700);
    }
  }

  &.secondary {
    color: var(--brand-primary-50);

    &:hover {
      color: var(--brand-primary-100);
    }
  }

  &.silent {
    color: var(--gray-500);

    &:hover {
      color: var(--gray-900);
    }
  }

  &.white {
    color: var(--gray-50);

    &:hover {
      color: var(--gray-50);
    }
  }

  &.w100 {
    width: 100%;
  }
}

.withIcon {
  flex-direction: column;
  align-items: center;
}

.withoutIcon {
  flex-direction: row;
}
