@use 'src/styles/mediaQueries.scss' as *;

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  min-height: 100%;

  opacity: 0;
  pointer-events: none;
}

.modal {
  opacity: 1;
}

.modal-enter {
  opacity: 0;

  transform: scale(0.9);
}

.modal-enter-active {
  opacity: 1;

  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;

  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.root {
  position: fixed;

  top: 50%;
  left: 50%;
  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  overflow: hidden;

  background-color: white;

  border: 1px solid #eaeaea;

  border-radius: 12px;

  transform: translate(-50%, -50%);

  @include xs {
    height: 100vh;
    min-width: 100%;

    border-radius: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 16px 24px;

  @include xs {
    gap: 24px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    input {
      width: 100%;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 16px;
  @include xs {
    justify-content: space-between;
    padding: 0;
  }

  .holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 0 24px;

    h2 {
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
    }
  }
}
